body {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
}

footer {
  background-color: aliceblue;
  height: 600px;
}

.header-content {
  width: 10%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.8);
}

.red-container {
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.2);
}

.red-author {
  height: 10%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

.red-title {
  height: 30%;
  width: 80%;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.red-hashtag {
  height: 10%;
  width: 50%;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

.red-arrow {
  height: 30px;
  width: 50px;
  position: absolute;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.white-container {
  height: 800px;
  margin: 2px solid blue;
}

.row {
  height: 800px;
}

.article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.red-post {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.content-block {
  height: 70%;
  width: 60%;
  /* background-color: rgba(0, 0, 0, 0.4); */
  padding: 30px;
  position: relative;
  margin: 0 auto;
  padding-top: 15%;
}

.white-post {
  height: 100%;
  width: 100%;
}

.white-title {
  height: 10%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 10px;
}

.white-date {
  height: 5%;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.3);
}

.white-author {
  height: 8%;
  width: 60%;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.white-text {
  height: 60%;
  width: 80%;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

.white-arrow {
  height: 30px;
  width: 50px;
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.content-block-white {
  width: 85%;
  height: 90%;
  background-color: grey;
  margin: 15px auto 0 auto;
  padding-top: 5%;
  padding-left: 5%;
}

.double-space {
  flex-grow: 2;
}

.highlight,
.highlight-title,
.highlight-image,
.highlight-text,
.highlight-button,
.highlight-sign-in {
  margin: 15px auto 0 auto;
}

.highlight {
  padding-top: 2%;
  height: 90%;
  width: 95%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.highlight-image {
  height: 30%;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  margin-bottom: 5%;
}

.highlight-title {
  height: 10%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.8);
}

.highlight-text {
  height: 25%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
}

.highlight-button {
  height: 10%;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
}

.highlight-sign-in {
  height: 5%;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.5);
}

.single-space {
  flex-grow: 1;
  box-sizing: border-box;
}

.full-height {
  height: 1000px;
  border: 1px solid brown;
}

.person-week {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-image {
  height: 60%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 20%;
  border: 1px solid black;
  margin-left: 2%;
}

.person-wrapper {
  height: 80%;
  width: 76%;
}

.person-title {
  width: 25%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
}

.person-text {
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.6);
}

.grid {
  display: grid;
  height: 1000px;
  border: 1px solid red;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  border: 1px solid blue;
  display: flex;
  align-items: center;
}

.cell-content {
  width: 90%;
  height: 75%;
  display: flex;
  margin: 0 auto;
}

.cell-image {
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}

.cell-text {
  height: 80%;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
}

.cell-text > .author {
  width: 30%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.3);
}


.cell-text > .title {
  width: 70%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.3);
}


.cell-text > .text {
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.3);
}

.cell-text > * {
  margin-bottom: 5%;
}
.horizontal-break {
  padding-top: 50px;
  height: 100px;
}

.horizontal-break > div {
  height: 30px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  position: relative;
}

.horizontal-break > div > div {
  height: 5px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.featured-book {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding-top: 5%;
  padding-bottom: 3%;
}

.featured-book > * {
  margin: 0 auto;
}

.featured-book > .subtitle {
  width: 15%;
  height: 5%;
  background-color: rgba(255, 255, 255, 0.7);
}

.featured-book > .title-container {
  width: 30%;
  height: 15%;
}

.featured-book .title-w {
  height: 40%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.featured-book .title-b {
  height: 40%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.featured-book > .text {
  width: 60%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.4);
}

.featured-book > .button {
  width: 20%;
  height: 8%;
  background-color: rgba(255, 255, 255, 0.9);
}

.featured-book > .image {
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
