body {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
}

footer {
  background-color: aliceblue;
  height: 600px;
}

.header-content {
  width: 12%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.5);
}

.red-container {
  padding-top: 20px;
  height: 85vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.red-author {
  height: 10%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}

.red-title {
  height: 30%;
  width: 80%;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.red-hashtag {
  height: 10%;
  width: 50%;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}

.red-arrow {
  height: 30px;
  width: 50px;
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.white-container {
  height: 600px;
  margin: 2px solid blue;
}

.article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.red-post {
  height: 100%;
}

.content-block {
  height: 70%;
  width: 60%;
  background-color: grey;
  padding: 30px;
  position: relative;
  margin: 0 auto;
  padding-top: 15%;
}

.white-post {
  height: 100%;
  width: 100%;
}

.white-title {
  height: 10%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 10px;
}

.white-date {
  height: 5%;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.3);
}

.white-author {
  height: 8%;
  width: 60%;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.white-text {
  height: 60%;
  width: 80%;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

.white-arrow {
  height: 30px;
  width: 50px;
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.content-block-white {
  width: 85%;
  height: 70%;
  background-color: grey;
  margin: 50px auto 0 auto;
  padding: 20px;
}

.double-space {
  flex-grow: 2;
  height: 480px;
  border: 1px solid green;
}

.highlight {
  height: 80%;
  width: 80%;
  border-radius: 20px;
  background-color: dimgray;
}

.single-space {
  flex-grow: 1;
}

.full-height {
  height: 1000px;
  border: 1px solid brown;
}

.person-week {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-image {
  height: 80%;
  background-color: yellowgreen;
  width: 20%;
  border: 1px solid rebeccapurple;
}

.person-text {
  height: 80%;
  background-color: yellowgreen;
  width: 76%;
}

.grid {
  display: grid;
  height: 1000px;
  border: 1px solid red;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cell-content {
  width: 70%;
  height: 70%;
  display: flex;
}

.cell-image {
  height: 60px;
  width: 60px;
  background-color: red;
}

.cell-text {
  height: 80%;
  width: 60%;
  background-color: red;
}

.horizontal-break {
  height: 100px;
  background-color: beige;
}

.horizontal-break > div {
  height: 50px;
  width: 200px;
  background-color: hotpink;
  margin: 0 auto;
}

.featured-book {
  height: 300px;
  background-color: mistyrose;
}

.guide {
  background-color: navajowhite;
}
