body {
  background-color: lavenderblush;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 138px;
  background-color: mintcream;
}

.article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  height: 930px;
  border: 2px solid grey;
  flex-grow: 1;
}

.red-post {
  height: 900px;
}

.white-post {
  height: 480px;
}

.double-space {
  flex-grow: 2;
  height: 480px;
  border: 1px solid green;
}

.single-space {
  flex-grow: 1;
  height: 480px;
  border: 1px solid black;
}

.latest-article {
  height: 185px;

}

.pre-launch {
  height: 1000px;
  border: 1px solid brown;
}

.person-week {
  height: 400px;

}

.grid {
  display: grid;
  height: 1000px;
  border: 1px solid red;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  border: 1px solid blue;
}
